<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title id="pageTitle">Change Right</title>
</head>
<body>
<header th:replace="layout::site-header"/>

<p>
    <span th:remove="tag" th:text="${message}"></span>
</p>
<div style="text-align: center; margin-top: 100px; margin-bottom: 100px">
    <h2>404 - resource not found</h2>
    <a th:href="@{/}">Go back to Home Page</a>

</div>
<footer th:replace="layout::site-footer"/>
</body>
</html>